<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="" />
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <link rel="icon" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.1/iframeResizer.contentWindow.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@3/dist/inspector.css"
    />
  </head>
  <body>
    <div id="observablehq-3f13b363"></div>
    <script type="module">
      import {
        Runtime,
        Inspector,
      } from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
      import define from "https://api.observablehq.com/d/843a8bdf01fc2c8f.js?v=3";
      new Runtime().module(define, Inspector.into("#observablehq-3f13b363"));
    </script>
  </body>
</html>
